.App {
  text-align: center;
}

.AppTTT {
  background-color: teal;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.headerTTT{
  background-color:rgb(2, 2, 119);
  
}
.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* my images */

.imagesClass {
  background-color: teal;
  border: none;
  height: 120px;
  
  padding-top: 20px;
}
.modify:hover {
  
  /* background-color: lightblue; */
  filter: grayscale(10%);
  /* outline: 0px; */
  border: 0px;
  cursor: pointer;
  filter: drop-shadow(5px 5px 5px yellow);
}
.modify:focus {
  /* border: 5px solid lightsalmon; */
  filter: grayscale(20%);
  outline: 0px;
  background-color: transparent;
  filter: drop-shadow(5px 5px 5px yellow);
}

.modify {
  margin-right: 70px;
  filter: grayscale(100%);
  border: 0px;
}
@keyframes android-spin {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}
.iandroid {
  animation: android-spin infinite 10s linear; 
  /* filter: drop-shadow(5px 5px 5px yellow); */
  /* background-color: teal; */
  /* filter: grayscale(100%); */
  /* background-color: wheat; */
  
}
.iandroid:focus {
  filter: grayscale(20%);
  filter: drop-shadow(5px 5px 5px yellow);
}

.Pdisplay {
  color: blue;
  font-size: 20px;
  font-weight: bold;
}

@keyframes money-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(180deg); }
}
.imoney {
  animation: money-spin infinite 25s linear;
}
@keyframes love-spin {
  from { transform: rotate(360deg); }
  to { transform: rotate(10deg); }
}
.ilove {
  animation: love-spin infinite 15s linear;
}

/* working on TicTacToe Game */

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-left: 45%;
}

.game-info {
  margin-left: 20px;
}
