
.bigWindow {
    float: left;
    width: 100%;
    height: auto;
}
.container {  
    width: auto;
}
.inside {
    background-color: transparent;
    height: 60px;
    width: 600px;
    color: rgb(2, 2, 124);
    font-size: 40px;
    text-align: center;
    font-weight:bolder;
    margin-top: 1px;
    margin-bottom: 3px; 
    margin-left: 28%;
}
.topic {
    color: rgb(216, 216, 4);
    font-weight: bolder;
    text-align: center;
    width: 300px;
    height: 80px;
    padding-top: 10px;
    padding-left: 2px;
    margin-left: 45px;    
}
.topBanner {
    height:10px;
    width: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: grey;
}
.b1 {
    background-color:darkgreen;
    height: 80px;
    text-align: center;
    padding-top: 10px;
    font-size: 30px;
    color: rgb(255, 17, 0);
    font-weight: bolder;
    font-family: fantasy;
}
.leftSide {
     display: inline-block;
    float: left;
    text-align: center;
    width: 300px;
    margin-left: 5px;
    margin-top: 2px;
    background-color: rgb(1, 94, 94);
}
.buttonsContainer {
    display: inline-block;
    width: 350px;
    margin-left: 1px;
    margin-right: 2px;
    height: 50px;
    color: rgb(1, 102, 102);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bTop1 {
    display: inline-block;   
    background-color: red;
    width: 370px;
    height: 120px;
    color: rgb(1, 102, 102);
    margin-right: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
}
.bt2 {
    margin-left: 5px;
    width: 410px;
    margin-right: 2px;
}
.btnAcctChart {
    width: 110px;
    height: 40px;
    /* margin: 0px 2px 2px 1px; */
    text-align: center;
    font-weight: bold;
    display: inline-block;
    color: white;

    background-color: transparent; 
}
.btnleft {
    width: 110px;
    height: 40px;
    margin: 2px 2px 2px 1px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    color: white;
    background-color: transparent; 
}
.leftdisplayarea {
    color: darkblue;
    font-weight: bold;
    display: inline-block;
    height: 232px;
    width: 350px;
    background-color: rgb(1, 94, 94);
    border: 1px solid black;
    margin-top: 2px;
    margin-right: 5px;
}

.light {
    background-color: white;
    margin-left: 4px;
    margin-top: 18px;
}

.mixed-chart {
    margin-left: 17%;
    font-weight: bold;
    width: 100px;
}
.lcover {
   width: 32%;
   height: 235px;
   margin-left: 18px;
   background-color: transparent;
}
.pLeft {
    height: 50px;
    color: yellow;
    font-size: 16px;
    font-weight: bold;
    background-color: teal;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 15px;
}
.midcreate {
    width: 350px;
    margin-top: 0px;
    border: 0px;
    text-align: center;
}

.midside {
    background-color: rgb(1, 94, 94);
    width: 32%;
    height: auto;
    margin-left: 0px;
    margin-right: 2px;
    margin-right: 17px;
    text-align: center;
}
h1 {
    font-size: 28px;
}
h3 {
    color: darkred;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}
.pmessage {
    margin-bottom: 20px;
    margin-top: 40PX;
    height: 50px;
    color: red;
    font-size: 17px;
    font-weight: bolder;
    font-style: italic;
}
.forCreateAccount {
    margin-bottom: 20px;
    margin-top: 30PX;
    height: 50px;
    color: red;
    font-size: 17px;
    font-weight: bolder;
    font-style: italic;
}
.lblAcct {
   float: left;
   font-size: 16px;
   margin-left: 8px;
   margin-top: 5px; 
   font-weight: bolder;
   width: 380px;
   font-weight: bold;
}
.acct {
    float: right;
    width: 200px;
    margin-right: 8px; 
    margin-top: 2px;
}

.btnAcct {
    height: 28px;
    width: 78px;
    margin-top: 10px;
    margin-right: 10px;
    float: right;
    color: white;
    font-size: 15px;
    font-weight: bold;
    background-color: teal;
}
.btnDetail {
    height: 25px;
    width: 78px;
    margin-top: 2px;
    margin-right: 5px;
    float: right;
    color: black;
    font-size: 15px;
    /* font-weight: bold; */
    background-color: teal;
}

.btnright {
    margin-top: 1px;
    float: right;
    margin-right: 4px;
    height: 28px;
    width: 80px;
}
p {
    height: 5px;
    margin-bottom: 0px;
    margin-top: 1px;
}
.pdisplay {
    font-size: 17px;
    font-weight: bold;
    overflow-wrap: normal;
    background-color: white;
    color: brown;
    border-radius: 15px 15px;
    height: 25px;
    text-align: left;
    /* align-content: center; */
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 2px;
    margin-top: 2px;
    padding-top: 2px;
    padding-left: 5px;
}
.pBig {
    height: 35px;
    justify-content: center;
    font-size: 16px;
    color: yellow;
    background-color: teal;
}

.rightshow {
    border: 0.5px solid white;
    height:62px;
    width: 100%;
    color: darkblue;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 5px;
    margin-top: 2px;
}
.cardDisplay {
    width: 96%;
    margin-top: 8px;
    margin-left: 25px;
    margin-right: 20px;    
}
.titleCreated {
    font-size: 20px;
    font-weight: bold;
    height: 25px;
    background-color: teal;
    border-radius: 35px 35px;
    margin: 2px 0px 5px 1px;
}
.rightside {
    width: 456px;
    height: 235px;
    border: 0.5px solid black;
    margin-left: 11px;
    margin-right: 0px;
    background-color: rgb(1, 94, 94);
}
.rightPop {
    width: 80px;
    float: right;
    margin-right: 4px;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 10px;
}
.selection {
    height: 30px;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    color: darkred;
}
.lblmoving {
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    align-content: center;
    color: white;
    font-weight: bold;
 }

