.container {
    text-align: center;
    display: table;
    margin-left: auto;
    margin-right: auto;
    border: 5px black solid;
    width: 100%;
    height: 600px;
    
}
.smallcontainer {
    display: inline-block;
    border: 1px black solid;
    background:lightblue;
    margin: 10px 10px 10px 10px;
    width: 700px;
    height: 600px;
}
.topbuttons{
    height: 50px;
    font-weight: bold;
}
.displayarea {
    background-color: lightgrey;
    height: 100px;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-top: 5px;
    font-size: 15px;
    font-weight: bold;
    color: red;
    word-wrap: normal;
    /* margin-top: 10px;
    margin-bottom: 10px; */
}
.displayarea2 {
    height: 50px;
    border: solid 2px;
}
h4 {
    margin: 5px 5px 5px 5px;
}
.showDetail {
    
    /* display: inline-block;
    border: 5px black solid;
    background:lightblue;
    width: 430px;
    height: 250px;
    padding-top: 10px;
    padding-bottom: 50px; */
    border: 1px black solid;
    width: 450px;
    height: 250px;
    margin: 2px 2px 2px 2px;
    padding-top: 10px;
 
    display: inline-block;

    
}
.selectType {
    width: 200px;
    margin-top: 5px;
}
.lblOldAcc {
    margin-top: 20px;
}
.txtnewAcc{
    margin-top: 5px;
    margin-right: 10px;
}
.lblnewAcc {
    float: left;
    margin-top: 5px;
    margin-left: 20px;
}
.lblOldAcc {
    float: left;
    margin-top: 25px;
    margin-left: 30px;  
}
.newAccInfo {
    border: 1px black solid;
    width: 450px;
    height: 60px;
    margin: 2px 2px 2px 2px;
    padding-top: 5px;
    display: inline-block;
   
    /* visibility: hidden; */
}
.old {
    height: 250px;
    text-align: center;
}
.olddiv {
    height: 100px;
    
}
.formatLabel {
    font-style: italic;
    display: inline-block;
    /* margin: 10px 5px 8px 15px; */
    /* margin: 15px 5px 8px 15px; */
    margin-top: 25px;
    margin-left: 60px;
    text-align: left;
    float: left;
    
}
.newAcc {
    margin: 1px 1px 1px 1px;
}

.txtInput {
    display: inline-block;
    /* margin: 10px 25px 5px 5px; */
    /* margin: 10px 25px 5px 5px; */
    margin-top: 7px;
    margin-bottom: 5px;
    margin-right: 35px;
    padding-top: 5px;
    float: right;
    width: 200px;
    
    /* width: 250px; */
    
}
.selectInput {
    display: inline-block;
    width: 250px;
    margin: 10px 5px 5px 5px;
}
.buttons {
    display: inline-block;
    margin: 20px 20px 20px 25px;
}
.btnOldAcc {
    margin-top: 10px;
    margin-right: 1px;
    margin-left: 10px;
}
